name: CI-CD URL Shortner

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [ "go-service", "node-service", "python-service" ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.service }}
          file: ./${{ matrix.service }}/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/urlshortner-${{ matrix.service }}:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/urlshortner-${{ matrix.service }}:${{ github.sha }}

  sonar:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: SonarQube Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io   # যদি SonarCloud ব্যবহার করো
        run: |
          mv ci-cd/sonar-project.properties .
          ./mvnw sonar:sonar \
            -Dsonar.projectKey=urlshortner-microservices \
            -Dsonar.login=$SONAR_TOKEN

  deploy:
    runs-on: ubuntu-latest
    needs: [ build-and-push, sonar ]
    steps:
      - uses: actions/checkout@v4

      - name: Set up kubectl
        run: |
          echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > $HOME/.kube/config
          kubectl config get-contexts

      - name: Deploy to K8s
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/python-service -n urlshortner
          kubectl rollout status deployment/go-service -n urlshortner
          kubectl rollout status deployment/node-service -n urlshortner

